
<h2 class=" text-2xl font-semibold text-start mb-4 text-gray-900 dark:text-white mt-4" >{{section.settings.section_heading}}</h2>


<div class="relative mb-5">
  <!-- Botón izquierdo -->
  <button onclick="scrollCarousel('left')" class="border border-gray-400 color-text-brand absolute left-0 top-1/2 z-10 -translate-y-1/2 bg-white p-2 rounded-full shadow-md hover:bg-red-300">
    {% render 'arrow-left' %}
  </button>

  <!-- Contenedor deslizable -->
  <div id="product-carousel" class="carousel-container flex overflow-x-auto space-x-4 scroll-smooth px-4">
    {% for product in collection.products limit: section.settings.limit %}
      {% render 'product-card', product: product %}
    {% else %}
      <p>No products to show.</p>
    {% endfor %}
  </div>

  <!-- Botón derecho -->
  <button onclick="scrollCarousel('right')" class="border border-gray-400 color-text-brand absolute right-0 top-1/2 z-10 -translate-y-1/2 bg-white p-2 rounded-full shadow-md hover:bg-red-300">
    {% render 'arrow-right' %}
  </button>
</div>

<!-- Script de scroll -->
<script>
  function scrollCarousel(direction) {
    const container = document.getElementById('product-carousel');
    const scrollAmount = 300; // ajusta según ancho del item
    if (direction === 'left') {
      container.scrollBy({ left: -scrollAmount, behavior: 'smooth' });
    } else {
      container.scrollBy({ left: scrollAmount, behavior: 'smooth' });
    }
  }
</script>
